<div class="col">
  <div class="card h-50">
   <!-- <img class="card-img-top" src="generic_course.png"  alt="img.unav"> -->
    <img class="card-img-top" src="generic_course.png">
      <div class="card-body">
        <p class="card-text text-center fw-bold">{{course.name}}</p>
        <p class="card-text text-center">{{course.shortDescription}}</p>
        <p class="card-text text-center">Durata: {{course.duration}} ore</p>
      </div>
    <div class="card-footer d-flex justify-content-center">
      <button type="button" class="btn btn-dark" >Acquista</button>
    </div>
  </div>
</div>
